body {
    background-color: rgb(77, 77, 77);
}
#content{
    width: 85%;
    margin: auto;   
    background-color: rgb(77, 77, 77);
}
.lightGrey{
    background-color: rgb(204, 204, 204)
}
header{
    margin: 10px 0px 10px 0px;
    padding-top: 25px;
    height: 50px;
    text-align: center;
    
}
nav{
    margin: 10px 0px 10px 0px;
    padding-top: 25px;
    height: 50px;
    text-align: center;
}
section{
    padding-top: 20px;
    width: 50%;
    float:left;
    margin-right :10px;
    height: 190px;
    text-align: center;

}
aside{
    padding-top: 20px;
    width: 46%;
    height: 190px;
    margin-left: 10px;
    float: left;
    text-align: center;
}
article{
    position: relative;
    left: 200px;
    bottom: 50px;
}