body {
    background: #828282;
}

#main {
    width: 80%;
    margin: auto;
   
}

header {
    background: #dbdbdb;
    height: 50px;
    padding-top: 45px;
    text-align: center;    
}
nav{
    background: #dbdbdb;
    padding: 45px 0px 35px 0px;
    text-align: center;
    margin-top: 10px;

}
section{
    background: #dbdbdb;
    margin-top: 10px;
    float: left;
    width: 50%;
    height: 250px;
    text-align: center;
    padding-top: 20px;


}
#sub{
    position: relative;
    bottom: 10px;
}
article{
    
    position:absolute;
    top: 45%;
    left: 12.5%;
    text-align: center;
    background: #828282;
    width: 35%;
    height: 175px;
    color: white;
    padding-top: 10px;
    
    

}
h3{
    background: #dbdbdb;
    position:absolute;
    top: 50%;
    left: 13.9%;
    width: 32%;
    height: 45px;
    text-align: center;
    padding-top: 10px;
    


}
p{
    background: #dbdbdb;
    position:absolute;
    top: 60%;
    left: 13.9%;
    width: 32%;
    height: 45px;
    padding-top: 10px;
    text-align: center;
}
aside{
    background: #dbdbdb;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 49%;
    height: 250px;
    text-align: center;
    padding-top: 20px;
    



}
footer{
    float:left;
    margin-top: 10px;
    width:100%;
    height: 50px;
    padding-top: 45px;
    overflow:auto;
    background: #dbdbdb;
    text-align: center;  

}
